.JoinPage{
    background-color:#a2d2ff;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.JoinContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.JoinContainer img{
    width: 10vmax;
}

.JoinContainer h1{
    color:#03045e;
    font-size: 2vmax;
}

#joinInput{
    width: 25vmax;
    padding: 1.5vmax;
    border: none;
    outline: none;
    font-size: 1.2vmax;
    margin: 2vmax;
}

.joinbtn{
    width: 25vmax;
    padding: 1.5vmax;
    border: none;
    outline: none;
    font-size: 1.2vmax;
    background-color: crimson;
    color: #03045e;
    cursor: pointer;
}